---
import MartyrCard from "../components/MartyrCard.astro";

const response = await fetch(
	"https://script.google.com/macros/s/AKfycbzAU32-_tkfspwtpvVfVJg0J9nuJ_fOclIBubUGEMl8l0o18V3udivFFFUmYhOMKhfJ1g/exec",
);
const data = await response.json();
---

<html>
	<head>
		<title>Martyrs List</title>
	</head>
	<body>
		<h1>Martyrs</h1>
		<div>
			{data.map((martyr) => <MartyrCard {...martyr} />)}
		</div>
	</body>
</html>
