---
const {
    name,
    age,
    occupation,
    natureofDeath,
    hospital,
    placeOfOccurrence,
    killingDate,
    killingTime,
} = Astro.props;
---

<div class="martyr-card">
    <h2>{name || "Unidentified"} ({age || "Unknown"})</h2>
    <p>Occupation: {occupation || "Unknown"}</p>
    <p>Nature of Death: {natureofDeath || "Unknown"}</p>
    <p>Hospital: {hospital || "Unknown"}</p>
    <p>Place of Occurrence: {placeOfOccurrence || "Unknown"}</p>
    <p>Killing Date: {new Date(killingDate).toLocaleDateString(undefined, {
        day: 'numeric',
        month: 'long',
        year: 'numeric',
        }) || "Unknown"
    }</p>
    <p>Killing Time: {killingTime || "Unknown"}</p>
</div>
